// Define variables for your color scheme

// LGI Charter
$orange: #FF6E4A;
$turquoise: #14CCBD;
$pink: #FF66A1;
$purple: #9179F2;

$bg-gray: #f4f5f5;
$text-gray: #666;
$text-darker: #444;
$border-gray: #dfe1e5;
$shadow-gray: rgba(32,33,36,0.28);

$black: #10161A;
$white: #FFFFFF;

$cobalt1: #1F4B99;
$cobalt2: #2458B3;
$cobalt3: #2965CC;
$cobalt4: #4580E6;
$cobalt5: #669EFF;

$dark-gray1: #182026;
$dark-gray2: #202B33;
$dark-gray3: #293742;
$dark-gray4: #30404D;
$dark-gray5: #394B59;
$gray1: #5C7080;
$gray2: #738694;
$gray3: #8A9BA8;
$gray4: #A7B6C2;
$gray5: #BFCCD6;
$light-gray1: #CED9E0;
$light-gray2: #D8E1E8;
$light-gray3: #E1E8ED;
$light-gray4: #EBF1F5;
$light-gray5: #F5F8FA;

$highlight: #669EFF;
