// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan");

// Define fonts for body and headers
$logo-font: 'Baloo Chettan', 'cursive';
$body-font: 'Verdana', 'helvetica', 'sans-serif';
$headers-font: 'Georgia', 'serif';
