// Search bar
#search-box {
  display: flex;
  align-items: center;
  height: 44px;
  width: 60vw;
  max-width: 582px;
  margin: 0 0 0 20px;
  box-shadow: none;
  border: 1px solid $border-gray;
  border-radius: 24px;
  padding: 0 10px;
  background-color: white;
  .ais-SearchBox {
    width: 100%;
  }
  input {
    width: 500px;
    background-color: transparent;
    border: none;
    outline: none;
  }
  &:hover, &:active {
    box-shadow: 0 1px 6px 0 $shadow-gray;
  }
}

// Search Filters
.refinements {
    min-width: 270px;
    position: sticky;
    top: 75px;
  background-color: white;
  margin-right: 15px;
  border-radius: 4px;
  padding: 20px;
  p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
}

.refinement-list {
  margin-bottom: 20px;
  .ais-RefinementList-count {
    padding: 1px 8px 2px;
    background-color: $light-gray3;
  }
  .ais-RefinementList-checkbox[value="Fiscalité et dépenses publiques"] ~ .ais-RefinementList-count {
    color: black;
    background-color: $purple;
  }
  .ais-RefinementList-checkbox[value="Transition écologique"] ~ .ais-RefinementList-count {
    color: black;
    background-color: $turquoise;
  }
  .ais-RefinementList-checkbox[value="Démocratie et citoyenneté"] ~ .ais-RefinementList-count {
    background-color: $pink;
    color: white;
  }
  .ais-RefinementList-checkbox[value="Organisation de l'État et des services publics"] ~ .ais-RefinementList-count {
    color: white;
    background-color: $orange;
  }
}

.empty {
  text-align: center;
}

// Results card-grid
.result-item {
  width: 100%;
  border-radius: 8px 8px 4px 4px;
  background-color: white;
  overflow: hidden;
  padding: 0;
  position: relative;
  .controls {
    left: 0;
    right: 0;
    bottom: 0;

    margin-top: 10px;
    border-top: 1px solid $border-gray;
    padding: 10px;
    background-color: #fbfbfb;
    text-align: center;
    color: $text-darker;
    font-size: 16px;
    font-weight: bold;

    .save, .read {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.result {
  font-size: 14px;
  line-height: 20px;
  .theme {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
    &.Tr {
      background-color: $turquoise;
    }
    &.Dé {
      background-color: $pink;
    }
    &.Fi {
      background-color: $purple;
    }
    &.Or {
      background-color: $orange;
    }
  }
  .question {
    margin-bottom: 5px;
    border-bottom: 1px solid $border-gray;
    padding: 10px;
    font-weight: bold;
  }
  .info {
    margin-bottom: 5px;
    border-bottom: 1px solid $border-gray;
    padding: 10px;
    .tag {
      padding: 5px 10px;
      height: 10px;
      background-color: $light-gray3;
      border-radius: 7px;
      font-size: 14px;
    }
  }
  .answer {
    padding: 10px;
    overflow: auto;
    text-overflow: ellipsis;
  }
  .zipcode, .type {
    border-top: 1px solid $border-gray;
    margin-top: 10px;
    padding: 10px;
  }
  .zipcode {
    margin-bottom: 40px;
  }
}
