/* Main navbar */
.navbar-lgi {
  position: fixed;
  z-index: 3000;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 0 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 16px;
  font-weight: bold;

  transition: all 0.3s ease;
}

/* Logo */
.navbar-lgi-brand {
    background-color: $light-gray1;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $cobalt4;
  margin: 0 0 30px 0;

  .logo {
    height: 30px;
    width: 30px;
    background-color: $white;
    border: 5px solid $white;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
  }
  p {
    font-size: 26px;
    font-family: 'Baloo Chettan', cursive;
  }
}

/* Right section */
.navbar-lgi-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-lgi-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-lgi-link:hover {
    text-decoration: none;
}
