body {
  background-color: $bg-gray;
  color: $text-gray;
  font-family: $body-font;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: $text-gray;
  text-decoration: none;
  &:hover {
    background: transparent;
  }
}


h1, h2, h3, h4, h5 {
  font-family: $headers-font;
  color: $text-darker;
}

.search {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.ais-Highlight-highlighted {
    background-color: $highlight;
}

.ais-Hits-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
