<div class="navbar-lgi-brand">
  <div class="logo" style="background-image: url(<%= image_path 'logo.png' %>)"></div>
  <p>Les Grandes Idées</p>
  <div id="search-box"></div>
</div>

<div class="search">
  <div class="refinements">
    <p>Thème</p>
    <div class="refinement-list" id="themes"></div>
    <p>Type de contributeur</p>
    <div class="refinement-list" id="contributors"></div>
    <p>Code postal</p>
    <div class="refinement-list" id="zipcodes"></div>
  </div>
  <div id="hits"></div>
</div>

<script type="text/html" id="hit-template">
  <div class="result">
    <div class="theme {{ theme }}"></div>
    <div class="question">
      {{#helpers.highlight}}{ "attribute": "question_text" }{{/helpers.highlight}}
    </div>
    <div class="answer">
      {{#helpers.highlight}}{ "attribute": "content" }{{/helpers.highlight}}
    </div>
    <div class="type">
      <strong>{{ flag_count }} personnes</strong> ont retenu cette réponse sur la Grande Annotation
    </div>
    <div class="zipcode">Code postal : {{ zipcode }}</div>
    <div class="controls">
      <div class="read">Lire en entier</div>
    </div>
  </div>
</script>
