<div class="navbar-lgi">
  <!-- Logo -->
  <div class="navbar-lgi-brand">
    <div class="logo" style="background-image: url(<%= image_path 'logo.png' %>)"></div>
    <p>Les Grandes Idées</p>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-lgi-right">
    <a href="" class="navbar-lgi-item navbar-lgi-link">Imprimer ma sélection</a>
  </div>
</div>
